.text-area {
    height: 275px;
    border: none;
    color: #0A3871;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
}
::placeholder { color: #0A3871; }
  .text-area:focus {
      outline: none;
    }

    @media screen and (max-width:768px){
      .text-area{
      height: 384px;
      border: none;
      color: #0A3871;
      margin-top: 30px;
      padding: 0;
      text-transform: lowercase;
      }
    }